.reveal section i {
  font-family: 'FontAwesome';
  font-style: normal;
}

.reveal section img {
  border: none;
  box-shadow: none;
  max-height: 600px;
}

section.toc div {
  display: inline-block;
  text-align: left
}

section.toc h2 {
  opacity: 0.6;
  margin-bottom: 40px;
}

section.toc h2.active {
  opacity: 1;
}

.reveal .attribution {
  font-size: 0.8em;
}

.reveal span.MathJax {
  margin: 5px;
}

.reveal p {
  margin-bottom: 0.7em;
}

.reveal p small {
  display: block;
  margin-top: 15px;
}


#title h1 {
  font-size: 8em;
}


#sec-sources ul {
  font-size: 0.7em;
}

ul.links-left {
  float: left;
  width: 50%;
}

ul.links-right {
  float: right;
  width: 50%;
}
